/* You can add global styles to this file, and also import other style files */
#Header{ 

    color: red;
    align-content: center;
    text-align: center;

}

#center{
    line-height: 100px;
    text-align: center;
}

#nav{
    fill: black;
    color: white;
    background-color: black;
}

.Raised{
    border: 3px;
    border-color: black;
    
    
}

.black{
    background-color: black;
    color: white;

}

.NavText{
    width: 20px;
    height: 20px;
}

#H1{
    text-align: center;
    align-content: center;
    
}
#MainImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}
      
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
        
    
